@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400&family=Sanchez&display=swap");

:root {
  /* colors****************************/
  --yellow: #efd345;
  --green: #78a516;
  --red: #f57b51;

  /*fonts**********************************/
  --font-header: Lobster;
  --font-main: Comfortaa;
  --font-h2: Sanchez;
}
h1 {
  font-family: var(--font-header);
}
h2 {
  font-family: var(--font-h2);
}
p {
  font-family: Comfortaa;
}
/*font-family: "Comfortaa", cursive;
font-family: "Lobster", cursive;
font-family: "Lobster Two", cursive;
font-family: "Sanchez", serif;*/

/******************removing margin and padding in small screen************************************/
/*@media (max-width: 978px) {
  .container {
    padding: 0;
    margin: 0;
  }
/*
  body {
    padding: 0;
  }

  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}  */

/***navbar****/
.navbar {
  background: #fff;
  transition: all 0.5s;
}
.navbar-scrolled {
  background: #78a516;
  color: white;
}
.navbar-toggler {
  color: var(--green);
  border: none;
}
.navbar-toggler-icon {
  background-image: none;
}
.btn-outline-success {
  color: var(--green);
  border-color: var(--green);
}
/***hero***/

.container-hero {
  margin-top: 4rem;
}
.container-hero-img {
  background: url(../pictures/andy-chilton-0JFveX0c778-unsplash.jpg)
    center/cover;
  height: 80vh;

  display: flex;
  flex-direction: column-reverse;
}

.hero-text {
  background: white;
  border: 2px solid var(--green);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.hero-h1 {
  font-family: Lobster;
}
.top-recipes {
  background: url(../pictures/calum-lewis-vA1L1jRTM70-unsplash.jpg) center/cover;
  height: 50vh;
}

.recipes-text {
  background: #fff;
  border: 2px solid var(--green);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.top-recipes-paragraph {
  display: none;
}

@media only screen and (min-width: 960px) {
  .top-recipes {
    border: solid var(--green) 2px;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    height: 80vh;
    background-size: 22rem 22rem;
    background-repeat: no-repeat;
    background-position: bottom center;

    padding-bottom: 1rem;
    position: relative;
  }
  /*.top-recipes-paragraph {
    text-align: center;
    display: block;
  }*/

  .recipes-text {
    border: none;
    position: absolute;
    top: 0;
  }
}

/*************carousel************************/
@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100 / 3);
  }
}
.carousel-inner {
  padding: 1em;
}
.recipe-card {
  margin: 0 0.5em;
}
.carousel-item {
  margin-right: 0;
}

/*.img-wrapper {
  max-width: 100%;
  height: 24vw;
}
.img {
  max-width: 100%;
  max-height: 100%;
}*/
/**********************Footer*******************/
footer li {
  font-family: var(--font-main);
}
